html {
      background-repeat: no-repeat;
      background-size: cover;
    }
    

    body {
      background-color: rgb(200, 255, 237);
      font-family: Arial, sans-serif;
      margin: 0;
    }

    header {
      padding-top: 5%;
      text-align: center;
    }

    #logotipe {
      height: 8vh;
    }

        .nav-item {
      margin-right: 10%;
    }

    ul {
      display: flex;
    }

    li {
      width: 250px;
      align-items: center;
      justify-content: center1;
    }

    #logo, #nombrelogo {
      width: 25%;
    }

    .pesquero-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pesquero-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 71, 171, 0.2) !important;
}
