    body {
        font-family: Arial, sans-serif;
        margin: 0;

    }

    html {
        background-image: url('../Fotos/General/fondodepart.webp');
        background-size: cover;
        background-position: top;
    }

    header {
        padding: 1rem;
        padding-top: 0;
        text-align: center;
    }


    .card {
        background: rgb(187, 250, 242);
        border-radius: 12px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 1.5rem;
        text-align: center;
        cursor: pointer;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    main {
        padding: 2rem;
        margin-top: 10%;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 2vw));
        gap: 1.5rem;
        justify-content: center;

    }


    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    .card h3 {
        margin: 0;
        color: #0077b6;
    }

    .card img {
        width: 100%;
        height: 160px;
        object-fit: cover;
    }

    a {
        text-decoration: none;
        color: rgb(2, 48, 255);
    }

    header h1 {
        color: aliceblue;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 3.5rem;
    }

        header h2 {
            color: azure;
            font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', Trebuchet MS, sans-serif;
            font-size: 2rem;
            
        }
