body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9fafb;
  color: #111827;
}

html {
      background-repeat: no-repeat;
      background-size: cover;
    }
    

    body {
      background-color: rgb(200, 255, 237);
      font-family: Arial, sans-serif;
      margin: 0;
    }

    header {
      padding-top: 5%;
      text-align: center;
    }

    #logotipe {
      height: 8vh;
    }

        .nav-item {
      margin-right: 10%;
    }

    ul {
      display: flex;
    }

    li {
      width: 250px;
      align-items: center;
      justify-content: center1;
    }

    #logo, #nombrelogo {
      width: 25%;
    }

#contenedor {
  padding: 16px;
}

.card {
  margin: 2%;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  max-width: 750px;
  border-radius: 12px;
}


.tag {
  background: #000000;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 25px;
  gap: 8px;
  max-width: 200px;
  margin: 4px;
}



.map {
  margin-top: 12px;
  text-align: center;
}

.verde {
  background-color: rgb(45, 156, 1);
}

.verdeclaro {
  background-color: rgb(183, 236, 58);
}

.amarillo {
  background-color: rgb(238, 222, 1);
}

.naranja {
  background-color: rgb(241, 154, 23);
}

.rojo {
  background-color: rgb(245, 29, 29);
}

@media (min-width: 1080px) {
  .info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    align-items: start;
  }
}

@media (max-width: 1079px) {
  .info-text {
    display: grid;
  }
}