body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9fafb;
  color: #111827;
}

html {
      background-repeat: no-repeat;
      background-size: cover;
    }
    

    body {
      background-color: rgb(200, 255, 237);
      font-family: Arial, sans-serif;
      margin: 0;
    }

#contenedor {
  padding: 16px;
  margin-top: 5%;
}

.card {
  margin: 2%;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.info-text {
  padding: 2%;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
}

#desc {
  font-size: 1.5rem;
}

.card img {
  width: 100%;
  max-width: 750px;
  border-radius: 12px;
}

.info-img {
  display: flex;
  justify-content: center;
}

.indicadores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.7vw;
}

.tag {
  text-align: center;
  background: #646464;
  color: #000000;
  padding: 4px;
  border-radius: 2px;
  font-size: 1.5rem;
  margin-top: 2%;
  border: 1px solid #000000;
}

.map {
  margin-top: 12px;
  text-align: center;
}

.verde {
  background-color: rgb(83, 252, 120);
}

.verdeclaro {
  background-color: rgb(183, 236, 58);
}

.amarillo {
  background-color: rgb(247, 250, 104);
}

.naranja {
  background-color: rgb(241, 154, 23);
}

.rojo {
  background-color: rgb(247, 81, 81);
}

@media (min-width: 1080px) {
  .info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    align-items: start;
  }
}

@media (max-width: 1079px) {
  .info-text {
    display: grid;
  }
}