  
    html {
      background-repeat: no-repeat;
      background-size: cover;
    }
    

    body {
      background-color: rgb(200, 255, 237);
      font-family: Arial, sans-serif;
      margin: 0;
    }

    h1 {
      margin: 0;
      font-size: 5vh;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .subtitulo {
      font-size: 2.5vh;
    }

    main {
      padding: 2rem;
    }

    p {
      font-size: 3vh;
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-top: 3%;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1.5rem;
    }

    .card {
      margin-top: 10%;
      background: rgb(255, 253, 235);
      border-radius: 12px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      padding: 1.5rem;
      text-align: center;
      cursor: pointer;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    .card:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    .card h2 {
      margin: 0;
      color: #0077b6;
    }

    .card img {
      width: 100%;
      height: 160px;
      object-fit: cover;
    }

    a {
      text-decoration: none;
      color: rgb(2, 48, 255);
    }

  